
.thebody
{
    min-height: 100vh;
    background-color: #dfe6e9;
}
.exercise-body {
    display:flex;
}
.card-container, .exercise-card-container, .clickMe {
    flex: 1;
    padding: 9.5% 0;
}
.clickMe {
    display:flex;
    justify-content: center;
    align-items: center;
}
.clickMe h2 {
    color:black;
    font-weight: 200;
    letter-spacing: 3.5px;
    text-align: center;
    text-transform: uppercase;
    margin:auto;
}
.exercise-card-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
    color:black;
    letter-spacing: 3.5px;
    font-size: 1.1rem;
}
.exercise-card-container .logo-title {
    display:flex;
    line-height:70px;
}
.exercise-card-container .logo-title img {
    margin: 0 10px;
}
.ex-title {
    font-weight:400;
    transition: .25s all ease;
}
.ex-title {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.ex-title::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
    padding: 1px;
    background-color: white;
    transform: translateX(-101%);
    transition: transform 0.45s ease-in-out;
    opacity:.35;
}
.ex-title:hover::after {
    z-index: 20;
    transform: translateX(101%);
}

.card-container
{
    max-width: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed';
}
.card-container .card
{
    position: relative;
    width: 500px;
    height: 600px;
    background: #a5b1c2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.card-container .card:before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #bdc3c7;
    z-index: 1;
    transition: 0.5s;
}
.card-container .card:hover:before
{
    background: #000;
    transform: scaleY(1.15);
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}
.card-container .card:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transition: 0.5s;
    /* background:grey; */
    background: rgba(255,255,255,.2);
    z-index: 1;
}
.card-container .card:hover:after
{
    transform: scaleY(1.15);
}
.card-container .card:hover
{
    z-index: 1;
}
.card-container .card .content
{
    text-align: center;
    z-index: 2;
    padding: 0 0 50px 0;
    transition: 0.5s;
}
.card-container .card:hover .content
{
    color: #fff;
}
.card-container .card .content h2
{
    font-size: 2rem;
    padding-bottom: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding:20px;
}
.card-container .card .content p
{
    font-size: 1em;
    width:70%;
    margin:auto;
}
.card-container .card a
{
    display: inline-block;
    margin-top: 15px;
    padding: 5px 10px;
    background: #262626;
    color: #fff;
    text-decoration: none;
}
.card-container .card:hover a
{
    background: #ee5253;
}
.preparation, .instructions, .part {
    padding: 10px 10px;
}
.content span {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.view {
    position:absolute;
    z-index:3;
    bottom: 6%;
}
.cta {
    display:flex;
    padding:10px;
}
.cta .button {
    margin-top: -.3%;
}
.cta-prompt {
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.2rem;
    padding-right:20px;
}
.workout-body .success-prompt {
    left:26%;
} 