.favorite-card {
  margin:20px 10px;
  font-family: 'Roboto Condensed';
  width:300px;
  padding:10px;
  text-align: center;
  position:relative;
}
.favorite-card-content {
  padding:20px;
}
.favorite-card-content img {
  height:45px;
  width:45px;
}
li {
  padding:10px 20px;
}
.remove {
  cursor: pointer;
  opacity: .3;
  transition: .85s all ease;
  filter: blur(3px);
}
.title-list {
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight:200;
  text-transform: uppercase;
}
.click-remove {
  transition: .2s all ease;
  cursor: pointer;
  color:#c0392b;
  font-size: 2rem;
  position:absolute;
  top:45%;
  left: 23%;
}
@media (max-width: 480px) {
  .favorite-card ul li {
    font-size: .85rem;
    padding-top: 5px;;
    padding-bottom: 5px;
  }
  .favorite-card-content {
    padding-top: 0;
  }
  .click-remove {
    font-size: 1.25rem;
    top:50%;
    left: 32%;
  }
  .favorite-card {
    margin-top: 0;
  }
}
