.favorite-card {
  margin:20px 0;
  font-family: 'Roboto Condensed';
  width:300px;
  letter-spacing: 1.5px;
  padding:10px;
  text-align: center;
}
.favorite-card-content {
  padding:20px;
}
.favorite-card-content img {
  height:30px;
  width:30px;
}
li {
  padding:10px 0;
}