.isLoggedIn {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
  width:100vw;
  color:black;
}
.logged-in-page {
  background-color: #dfe6e9;
}
.already h2 {
  letter-spacing: 4px;
  font-size: 2rem;
  padding: 25px;
  font-weight: 200;
  font-family: 'Roboto Condensed';
  letter-spacing: 4px;
  text-transform: uppercase;
}
/* MOBILE MEDIA QUERIES */
@media (max-width: 800px) {
  .already h2 {
    font-size: 1.3rem;
    max-width: 70%;
    text-align: center;
    margin:auto;
  }
}