* {
  margin:0;
  padding:0;
}
.loading body {
  background: #dfe6e9;
  height: 100vh;
  width: 100vw;
}
.loader-container {
  width: 200px;
  height: 200px;
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow:hidden;
}
.loader-div {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  border: 8px solid black;
  border-top: 10px solid #ee5253;
  border-radius: 50%;
  animation: rotate 2s linear infinite;
  margin:auto;
  padding-top:70%;
}
@keyframes rotate {
  100% {transform: rotate(360deg);}
}
.generating {
  color:black;
  font-family: 'Roboto Condensed';
  font-weight: 200;
  letter-spacing: 4px;
  padding-top: 40vh;
  text-align: center;
  text-transform: uppercase;
}
