.login {
  display:flex;
  justify-content: center;
  align-self: center;
  height:100vh;
  width:100vw;
  background-color: #f5f6fa;
}

.login-box {
  /* background-color:blue; */
  padding:50px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -10vh;
}
.login-box img {
  height:300px;
  width:300px;
  margin-bottom: -5vh;
}
.login-box .button {
  margin-top: 6vh;
}
.login-box .signup {
  padding-top:30px;
}
