header {
  background-image:none;
  z-index: 2500;
}
.specific-aactiv {
  font-size: 2rem;
  letter-spacing: 4px;
  margin-right: 85vw;
  transition: color .4s;
  color: #636e72;
}
.specific-aactiv:hover {
  color: #ee5253;
  cursor: pointer;
}
.specific-menu-toggle {
  color: #636e72;
  font-size: 2.2rem;
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  right: 2.5rem;
  cursor: pointer;
  z-index: 1500;
}
