.profile {
  width:100vw;
  min-height:100vh;
  background-color: #dfe6e9;
  font-family: 'Roboto Condensed';
}
.profile-content {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}
.weight-img {
  height:125px;
  width:125px;
}
.favorite-content {
  max-width: 85%;
  padding: 2.5% 5%;
  display: flex;
  flex-wrap: wrap;
}
.profile-message {
  font-weight: 400;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  padding-bottom: 25px;
}
.false {
  height:80vh;
}
/* MOBILE MEDIA QUERIES */
@media (max-width: 1000px) {
  .profile-message {
    font-size: 1.2rem;
  }
  .button {
    font-size:.9rem;
    width: 135px;
    height:40px;
  }
  .profile-content {
    padding-top: 14vh;
  }
  .favorite-content {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .favorite-content li {
    font-size: 1rem;
  }
  .profile-content {
    padding-top: 17.5vh;
  }
  .weight-img {
    height:75px;
    width: 75px;
  }
}
@media (max-width: 480px) {
  .profile-message {
    padding-top: 15px;
    font-size: .9rem;
    width: 70%;
    text-align: center;
  }
  .favorite-content {
    padding-left: 7.5px;
  }
  .profile-content {
    padding-left: 0;
  }
  .signup-success-prompt {
    padding-bottom: 15px;
  }
}
