.profile {
  width:100vw;
  min-height:100vh;
  background-color: #dfe6e9;
  font-family: 'Roboto Condensed';
}
.profile-content {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}
.weight-img {
  height:125px;
  width:125px;
}
.favorite-content {
  max-width: 85%;
  padding: 2.5%;
  display: flex;
  flex-wrap: wrap;
}
.profile-message {
  font-weight: 400;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  padding-bottom: 25px;
}
.false {
  height:80vh;
}
