.quote-page {
  display:flex;
  width:100%;
  height:100vh;
  background: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("../../img/oldschool.jpg") center no-repeat;
  background-size: cover;
}
.wrapper {
  position:absolute;
  width:100%;
  height:100%;

}
.prompt-content, .quote {
  flex:1;
}
.prompt-content {
  background-color: #dfe6e9;
  font-family: 'Roboto Condensed';
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.quote-prompt {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: black;
}
.quote-entry {
  font-size: 1.4rem;
  padding-top: 25px;
  font-weight: 400;
  letter-spacing: 2px;
}
.quote-prompt, .quote-entry {
  max-width:80%;
  margin:auto;
  text-align: center;
}
/* Button Styling */
.button-container {
  display:flex;
  flex-direction: column;
  padding: 50px;
  align-items: center;
  justify-content: center;
}
.button {
  display: inline-flex;
  height: 50px;
  width: 175px;
  border: 2px solid #2d3436;
  margin: 20px 20px 20px 20px;
  color: #2d3436;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.3rem;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
a {
  color: #2d3436;
  text-decoration: none;
  letter-spacing: 1px;
}
#button-3 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-3 a {
  position: relative;
  transition: all .45s ease-Out;
}
#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #2d3436;
  position: absolute;
  transition: all .3s ease-Out;
  top: 20px;
  left: 70px;
}
#button-3:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}
#button-3:hover a {
  color: #fff;
}
.button-container button+button {
  margin: 50px 0 10px 0;
}
/* QUOTE STYLING */
.quote {
  font-size: 1.45rem;
  text-align: center;
  padding:100px;
  color: white;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5%;
}
.quote-content {
  font-family: 'Bebas Neue';
  opacity: .75;
}
.continue-container .button {
  border: 2px solid white;
  color: white;
}
.continue-container .button a {
  color: white;
  letter-spacing: 1px;
}
.continue-container {
  padding-bottom: 5%;
}
.continue-container #button-3:hover a {
  color: black;
}
.continue-container #button-3:hover #circle {
  background: white;
}
.quote-blurred {
  transition: .8s all ease;
  backdrop-filter: blur(11px);
}
/* MOBILE MEDIA QUERIES */
@media (max-width: 1000px) {
  .quote-page {
    flex-direction: column;
  }
  .prompt-content {
    padding-top: 50px;
  }
  .quote {
    width:100%;
    min-height:100%;
  }
}
@media (max-width: 800px) {
  .quote-prompt {
    font-size: 1.6rem;
  }
  .quote-entry {
    font-size: 1.15rem;
  }
  .quote {
    font-size: 1.2rem;
    padding-top: 65px;
    margin:0;
    background: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("../../img/oldschool.jpg") center no-repeat;
  }
}
@media (max-width: 400px) {
  .quote-prompt {
    font-size: 1.35rem;
  }
  .quote-entry {
    font-size: .9rem;
  }
  .quote {
    padding-left: 25px;
    padding-right: 25px;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
  }
  .quote-content {
    font-size: 1.5rem;
  }
  .button-container .button, .quote .button {
    font-size: .8rem;
    margin-top: 0;
  }
  .button-container #button3 {
    padding:0;
  }
  .quote iframe {
    margin: 35px;
  }
}